body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  /* overflow: hidden; */
    /* overflow-style: none;   */
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
}


/*  */

.page-bg{
  background-color: #fefee3;
  height: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-main{
  margin-top: 3%;
  border-radius: 25px;
  width: 80%;
  /* height: 80%; */
  background-color: #4c956c;
}



/* NAV BAR - START */


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #2c6e49 ;
}

.brand{
  display: flex;
  align-items: center;
}

#logo{
  height:100px;
}

#title {
  font-size: 4.5rem;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  color: #FFF;
}

nav ul {
  color:white;
  display: flex;
  background-size: cover;
  /* gap: 4.5rem; */
  
  margin: 0;
  list-style: none;
  border-radius: 15px;
}

#nav-left{
  padding: 20px 40px;
  /* border-radius: 15px; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #4c956c;

}#nav-left:hover{
  background-color:#6bb189;
  scale: 1.1;
}

#nav-mid{
  padding: 1rem 5rem;
  background-color: #4c956c;


}#nav-mid:hover{
  background-color:#6bb189;
  scale: 1.1;
}

#nav-right{
  padding: 30px 40px;
  background-color: #4c956c;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}#nav-right:hover{
  background-color:#6bb189;
  scale: 1.1;
}


.nav-li{
  width: 15rem;
  /* height:auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

nav a {
  display: block;
  color: #FFF;
}nav a:hover{
  color:#434343
}


/* NAV BAR - END */









/* HOME PAGE - START */

.home-img{
  width:100%;
}

#home-first-left{
  /* align-self: start; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 40rem;
  /* background-color: red; */
  padding-left:3rem
}

.moto-text{
  margin-top: 0px;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
}

#home-first-right{
  display: flex;
  justify-content: center;
  width:60%;
}


.home-1{
  margin-top: 0px;
  height: 100%;
  /* width: auto; */
  background-color: #CBCBB9;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
}


.home-1-butt{
  padding: 2rem 4rem;
  margin: 2rem;
  background-color: #4d956d;
  color: white;
  border-radius:25px;
  font-size: 15px;
  font-weight: bold;
  box-sizing: border-box;
}.home-1-butt:hover{
  color:#d3f4dd;
  /* scale: 1.1; */
  font-size: 20px;
}

.home-2{
  margin-top: 0px;
  padding-top: 5rem;
  /* height: 100%; */
  /* width: auto; */
  color: white;
  background-color: #56765B;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

.home-2-desc-text{
  text-align: center;
}

#home-2-div{
  display: flex;
  align-items: center;
}

#home-page-2-desc{
  width: 80%;
  padding: 5rem;
}

#home-page-2-list{
  /* width: 30%; */
  display:flex;
  flex-direction: column;
  height: 50%;
  align-items: center;
  /* justify-content: spac; */
  /* margin-right: 3rem; */
}

#home-nova-list{
  width: 80%;
  display:flex;
  flex-direction: column;
  height: 50%;
  /* justify-content: spac; */
}

.home-2-li{
  font-size:20px;
  margin-bottom: 5%;
}





.home-3{
  margin-top: 0px;
  height: 100%;
  width: auto;
  background-color: #CBCBB9;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
}


p{
  font-weight: 700;
}








input, label {
  display: block;
}

input {
  margin-bottom: 1rem;
}



form {
  padding: 1rem;
  border: 1px solid #CCC;
  width: 30rem;
  /* height: 15rem; */
  margin: 1rem auto;
}

/* automatically added by NavLink component */
.active {
  color: black;
  font-weight: bold;
  font-style: italic;
  scale:1.2;
}
main{
  /* border: #CCC 1px solid; */
  height: 95vh ;
}



.user-form{
  margin-top: 200px;
  background-image: url('./media/white.png');
  background-size: cover;
  border: 5px rgb(231, 203, 174) solid;
  /* border-image: url('./media/black.png'); */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-suggest{
  padding-top: 10px;
}

/* HOME PAGE - END */












/* 404 Page - START */

.h1404{
  font-family: 'Nunito', sans-serif;
  font-size: 300%;
}

#Page404{
  background-image: url('./media/grey.png');
  background-size: 60%;
  display: flex ;
  justify-content: center;
  height: 100%;
}

#errordiv{
  margin: 2% 50px 0px 50px;
  width: 0px;
}

#lostlol{
  width:100vw;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#mrbroc{
  width: 170px;
}

#returnButt{
  color:whitesmoke;
  font-family: 'Nunito', sans-serif;
  font-size: 200%;
  font-weight: 600;
  padding: 40px ;
  background-color: #66a653;
  border: #360 5px solid;
  border-style: dashed;
  width:30%;
  text-align: center;
}
#returnButt:hover{
  background-color: #4a753e;
  transform: scale(1.2);
}


/* 404 Page - END */















/* UserHome - START */

#search-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url('./media/green.png'); */
}

#search-food-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0px;
}

#search-food-area{
  display: flex;
  flex-direction: column;
  /* background-color:; */
  background-size: 50%;
  height: 100em;
  /* border-radius: 15px; */
}

#search-text{
  color: white;
  background-color: #2c6e49;
  background-size: 200%;
  padding: 20px 200px;
  border-radius: 15px;
  
}

#search-food-box{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center
}

#search-food-box input{
  scale: 1.5;
  border-color: grey;
  border-radius: 5px;
  border-style: revert;
  margin: 0px;
}
#search-food-box button{
  padding: 15px;
  background-color: whitesmoke;
  border-color: grey;
  border-style: double;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: 150%;
}
.previousButton, .nextButton{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: whitesmoke;
  border-color: grey;
  border-radius: 10px;
  border-style: double;
  cursor: pointer;
  font-size: 16px;
}
.previousButton::before{
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background:url('../src/media/previousArrow.png') no-repeat center;
  background-size: contain;
  font-size: 16px;
  margin-right:10px;
}
.nextButton::before{
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background:url('../src/media/previousArrow.png') no-repeat center;
  background-size: contain;
  font-size: 16px;
  margin-right:10px;
  transform: rotateY(180deg);
}
.buttonNextPrev{
  display: flex;
  justify-content: space-around;
  margin: 5vh;
}
/* UserHome - END*/










/* Item Page - START */

#item-page{
  overflow: hidden !important;
}

.product-page-1st-row{
  display: flex;
  width: 90%;
  /* flex-direction: ; */
  justify-content: space-around;
  align-items: center;
  margin-left: 5%;
}

#stores-info{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 15rem;
  /* height:20rem; */
  padding:15px 20px 30px 20px;
  border-radius: 15px;
}
#products-store-list{
  display: flex;
  flex-direction: column;
  background-color: #4a753e;
}



#product-page-image{
  width: 75%;
  border-radius: 25px;
  padding: 10px;
  background-color: white;
  max-height: 350px;
}

.item-page-product-name{
  color: white;
  background-color: #2c6e49;
  padding: 30px 10px;
  border-radius: 15px;
  width: 50%;
  margin-bottom: 0px;
}

#nova-n-nutri{
  padding: 10px;
  /* background-color: #360; */
  border-radius: 15px;
  display: flex;
  flex-direction: column-reverse;
}








.product-page-2nd-row{
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#ingredients-info{
  background-color: white ;
  display: flex;
  flex-direction: column;
  width: 25rem;
  /* height:20rem; */
  padding:20px;
  border-radius: 15px;
}

#additives-info{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 25rem;
  /* height:20rem; */
  padding:20px;
  border-radius: 15px;
  margin-bottom: 15px;
}

#product-page-bottons{
  display: flex;
  gap: 3%;
  width: 50%;
  /* width: 30rem; - Go back bottun takes up all open space */
  justify-content: space-around; 
  margin-bottom: 3rem;
}

#product-back-button{
  background-color: rgb(112, 205, 182);
  width: auto;
  padding: 0rem 4rem;
}#product-back-button:hover{
  scale: 1.2;
  background-color: rgb(79, 172, 148);
  /* color: white; */
}

#product-page-select-option{
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
}

/* #product-list-select{
  scale: 1.4;
  background-color: #3a3838;
} */
  /* #dropdown-options:hover{
    product-list-select
  background-color: black
}  */


#product-add-button{
  background-color: #66a653;
  margin-left: 1%;
  width: 10rem;
  padding: 0rem 4rem;
  /* scale: 1.2; */
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
}#product-add-button:hover{  
  scale: 1.2;
  background-color: #4f8e3b;
}










.nutri-scores{
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
}

#nutri-div{
  background-color: white;
  width: 100%;
  margin-top: 10px;
  /* border-style: none; */
}
#nova-div{
  background-color: white;
  width: 100%;
  margin-top: 10px;

  /* border-style: none; */
}
#nutri-details{
  width: auto;
  text-align: center;
}

#nutri-stats{
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product-search-cards{
  display: flex;
  width: 30rem;
  align-items: center;
}

#product-search-cards-image{
  align-self: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
  height: 15rem;
}

#product-search-cards-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card-info-section{
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.previousButton{
  background-image: url('./media/white.png');
  background-size: 100%;
}

.nextButton{
  background-image: url('./media/white.png');
  background-size: 100%;
}



/* Item Page - END */









/* User Dashboard - START */
#userDash-head{
  display: flex;
  background-color: #6c9c81;
  background-size: 50%;
  margin-top: 2%;
  border-radius: 15px;
  border: 1px solid grey;
}

#userDash-head-user{
  background-color:#4c956c;
  border-radius: 15px;
  display:flex;
  flex-direction: column;
  align-items: center;
}




/* USER DASHBOARD - Grocery */

#dashboard-list-form{
  display: flex;
  flex-direction: column;

  width: 80%;
  padding: 0px 5rem;
  border: 0px;
  align-items: center;
  justify-content: center;
  margin-bottom:10%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
#dashboard-list-form-label{
  font-size: larger;
  background-color: #6c9c81;
  padding: 10px 20px;
  border-radius: 10px;
  scale: 1.2;
  margin-bottom:3%
}
#listName{
  /* scale: 1.5; */
  border-color: grey;
  border-radius: 5px;
  border-style: revert;
  margin-top: 10px;
  height: 30px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
#dashboard-list-form-submit{
  width: 50%;
  background-color: white;
  color: #434343;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


/* User Dashboard - USER*/


#userDash-user{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #3a3838;
  background-color: #fefee3;
  margin-top: 10px;
  padding: 10px 50px;
  border-radius: 15px;
}

#userDash-logout-button{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
  /* border: rgb(148, 148, 148) solid 1px */
}


/* USER DASHBOARD - UPDATE */


#username-update{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0px;
}

#username-update-label{
  font-size: larger;
  background-color: #4c956c;
  padding: 10px 20px;
  border-radius: 10px;
  scale: 1.2;
  /* margin-bottom:3% */
}

#username{
  border-color: grey;
  border-radius: 5px;
  border-style: revert;
  margin-top: 10px;
  height: 30px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#username-update-submit{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(62, 62, 62);
  background-color: white ;
}


/* USER DASHBOARD - LISTS */


#grocery-card{
  margin: 5rem 0rem 0rem 0rem;
  display: flex;
  align-items: baseline;
}

#grocery-list-name{
  text-align:center;
  /* padding: 2rem 4rem; */
  margin-top: -3rem;
   /* border-bottom: 0px; */
}

.grocery-preview-image{
  max-height: 10rem;
  align-self: center;
  max-width: 15rem; 
  padding: 1rem 0px;
  /* background-image: url('./media/black.png'); */
  /* padding: 1rem; */
}

.imageCard{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grocery-content{
  display: flex;
  justify-content:center;
  border-top: 1px solid #aeaeae;
  /* background-color: red; */
}






/* GROCERY CART - START */

#grocery-list-page{
  height: 110rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grocery-cart-card{

}

.grocery-cart-image{
  max-width: 90%;
  height: 250px;
  padding: 10%;
}


#grocery-cart-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grocery-cart-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

#grocery-list-item-section{
  margin-top: 3%;
  margin-bottom:3%;
  border-radius: 25px;
  width: 80%;
  /* height: 80%; */
  background-color: #4c956c;
  padding:3%
}

#grocery-cart-recommendation{
  margin-bottom: 100px;
  padding: 30px;
  /* height: auto; */
  /* background-color: red; */
}

#grocery-cart-recommendation-image{
  max-height:200px;
  object-fit: contain;
  background-color: white;
  border:none;
  padding: 3%;
}

#grocery-cart-recommendation-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* GROCERY CART - END */









/* ABOUT US PAGE - START */


#mainAB{
  display:grid;
  justify-content: space-evenly;
}
#team-container{
  display: flex;
  justify-content: space-around;
}
#header-Ab{
    display: grid;
    justify-items: center;
    width: 865px;
    padding-left: 122px;
    padding-top: 25px;
}
#body-Ab{
  padding-top: 70px;
  display: grid;
  margin: 0;
 justify-items: center;
}
#team{
  padding-top: 60px;
}
#image-Abp{
  height: 300px;
    width: 600px;
}
#p2{
  width:700px;
}
#image-Ab{
padding-top: 35px;
}
#teamTitle{
  padding-left: 40%;
}

.team-container {
  display: flex;
  justify-content: center;
}

.team-member {
  text-align: center;
  margin: 20px;
}

.team-member img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.team-member h3 {
  margin: 10px 0;
}

.team-member p {
  color: #888;
}


/* ABOUT US PAGE - END */
